@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="BG"></div>
<div class="Color">
    <div class="Menu">
        <div class="circleBase Home" onclick="tra2div(-1,-1,-1,-1,-1,-1,-1,-1)"></div>
        <div class="circleBase Me" onclick="tra2div( 1, 1, 1,-1,-1, 1,-1,-1);"></div>
        <div class="circleBase Project" onclick="tra2div( 1, 1,-1, 1,-1,-1 ,1,-1);"></div>
        <div class="circleBase Contact" onclick="tra2div( 1, 1,-1,-1, 1,-1,-1 ,1);"></div>
    </div>
    <article class="About">
        <img class="jag" src="~/Content/Images/jag.jpg" />
        <p class="AboutP">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </article>
    <article class="Projects">


        <a href="~/Projects/MVMemory/index.html">~/Projects/MVMemory/index.html</a>
        <div class="projectContainer Mvmemory">
        </div>
        </a>

        <a href="~/Projects/Mockup till hemsida/index.html">
        <div class="projectContainer">
        </div>
        </a>

        <div class="projectContainer">
            <a href=""></a>
            <p class="Pinfo"></p>
        </div>



    </article>

    <article class="Contacting">
        <img src="Content/Images/facebook.png" />
        <br />
        <br />
        <img src="Content/Images/twitter.png" />
        <br />
        <br />
        <img src="Content/Images/instagram.png" />
    </article>

</div>

